.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #000;
    color: #fff;
    h1 {
        font-size: 18px;
        font-weight: 900;
    }
    &__utilmenu {
        position: absolute;
        right: 30px;
        top: 15px;
    }
}
